* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.black-color {
    background-color: #1c1e21;
}

li {
    cursor: pointer;
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: underline;
    }
}
p {
    line-height: 26px;
}

nav {
    background-color: #128c7e;
    color: white;
    position: sticky;
    top: 0;
    @media only screen and (max-width: 1020px) {
        position: initial;
    }
}
#nav-items {
    flex-grow: 1;
    justify-content: space-around;
}

.nav-screen1 {
    padding: 22px 0;
    margin: auto;
    color: white;
    font-weight: 400;
    width: calc(100vw - 470px);
    ul {
        align-self: center;
    }
    @media only screen and (max-width: 1350px) {
        width: calc(100vw - 80px);
    }
    @media only screen and (max-width: 1020px) {
        display: none;
    }
}

.nav-screen2 {
    display: none;
    @media only screen and (max-width: 1020px) {
        display: flex;
    }
    #icons {
        justify-content: space-between;
        margin: 10%;
    }
    #navbar2 {
        width: 70px;
        margin: auto;
        padding: 30px 0;
        img {
            width: 100%;
        }
    }
}
#bars {
    text-align: end;
    display: none;
    padding: 10px;
    @media only screen and (max-width: 1020px) {
        display: block;
    }
}
#nav-bars {
    #nav-items-2 {
        background-color: #075e54;
        width: 100vw;
        #icons {
            justify-content: space-between;
            padding: 15px;
            font-size: 20px;
            color: white;
        }
        select {
            background-color: #075e54;
            border: 3px solid white;
            border-radius: 5px;
            color: white;
            height: 35px;
            margin: 40px;
            padding-left: 10px;
        }
        ul {
            width: 80%;
            margin: auto;
            li {
                border-bottom: 1px solid #128c7e;
                font-size: 16px;
                line-height: 26px;
                h4 {
                    padding: 15px;
                }
            }
        }
    }
}
// -----------------------------------main----------------------------------------
#lectern-phone {
    width: 50vw;
    margin: 3% auto;
    @media only screen and (max-width: 1350px) {
        width: 76vw;
    }
    @media only screen and (max-width: 1020px) {
        display: none;
    }
    h2 {
        font-size: 35px;
        line-height: 43px;
        font-weight: 200;
    }
    #lectern {
        align-self: center;
        #lectern-inf {
            width: 90%;
            font-size: 20px;
            h2 {
                margin: 30px 0px;
            }
            P {
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 15px;
            }
        }
    }
    #phone-img {
        width: 70vw;
        img {
            margin: auto;
            width: 100%;
            object-fit: cover;
            @media only screen and (max-width: 1020px) {
                width: 50%;
            }
        }
    }
    #link {
        flex-direction: column;
        a {
            color: #1cb393;
            margin: 10px 0;
            svg {
                margin-right: 10px;
            }
        }
    }
}
#lectern-phone-smoll {
    background-color: #128c7e;
    display: none;
    text-align: center;
    color: white;
    h2 {
        font-size: 24px;
        line-height: 31px;
        padding-bottom: 15px;
        font-weight: 400;
    }
    div {
        width: 80%;
        margin: auto;
    }
    img {
        width: 80%;
        margin-bottom: -50%;
    }
    @media only screen and (max-width: 1020px) {
        display: block;
    }
    p {
        font-size: 16px;
        line-height: 26px;
    }
}

#business-and-security {
    width: 95vw;
    margin: auto;
    margin-bottom: 3%;
    justify-content: space-between;
    @media only screen and (max-width: 1350px) {
        width: 100vw;
    }
    @media only screen and (max-width: 1020px) {
        flex-direction: column;
    }

    #whatsapp-business,
    #whatsapp-security {
        text-align: center;
        padding: 65px;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 50%;
        font-size: 18px;
        @media only screen and (max-width: 1020px) {
            width: 100%;
        }
        h2 {
            font-size: 34px;
            line-height: 44px;
        }
        a {
            color: #39b3ed;
        }
    }

    #whatsapp-business {
        background-color: #d8e8ea;
        margin-right: 17px;
        @media only screen and (max-width: 1020px) {
            margin-right: 0;
        }
        img {
            width: 68%;
            margin: auto;
            margin-bottom: -5px;
            margin-top: 100px;
        }
    }
    #whatsapp-security {
        background-color: #e7f0e4;
        margin-left: 17px;
        padding-bottom: 50px;
        @media only screen and (max-width: 1020px) {
            margin-left: 0;
        }
        #circle {
            width: 95%;
            margin: auto;
            background-color: #77d7c8;
            border-radius: 50%;
            width: 330px;
            height: 330px;
            @media only screen and (max-width: 1020px) {
                width: 230px;
                height: 230px;
            }
            i {
                z-index: 1;
            }
        }
    }
}
#button-function {
    margin: 50px auto;
    justify-content: center;
    background: #fff;
    border: 2px solid #77d7c8;
    border-radius: 50px;
    width: 330px;
    height: 55px;
    a {
        color: #128c7e;
        font-size: 17px;
        align-self: center;
    }
}

// -----------------footer-------------------
footer {
    background-color: #273443;
    color: white;
}

.footer-hed,
.footer-floare {
    margin: auto;
    width: calc(100vw - 470px);
    @media only screen and (max-width: 1350px) {
        width: calc(100vw - 80px);
    }
}
.footer-hed {
    padding: 25px 0;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    ul {
        padding-left: 0;
        font-weight: 600;
        line-height: 60px;
        li {
            line-height: 28px;
        }
    }
}

.footer-floare {
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
    a,
    p {
        align-self: center;
    }
    p {
        font-weight: 400;
        font-size: 18px;
    }
}
// ----------------------page 2-----------------
#body {
    background-color: #d9dcdc;
}
#wats-app {
    background-color: #00a884;
    height: 225px;
    color: white;
    padding-top: 25px;
    div {
        width: calc(100vw - 470px);
        margin: auto;
        font-size: 14px;
        font-weight: 400;
        padding-left: 12px;
        align-self: center;
        justify-content: flex-start;
        @media only screen and (max-width: 1350px) {
            width: calc(100vw - 80px);
        }
    }
}

#use-whats-app {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-wrap: wrap;
    position: absolute;
    width: 60%;
    top: 90px;
    left: 20%;
    right: 20%;
    @media only screen and (max-width: 1350px) {
        width: 80%;
        left: 10%;
        right: 10%;
    }
    @media only screen and (max-width: 1050px) {
        width: 90%;
        left: 5%;
        right: 5%;
    }

    h2 {
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 60px;
        line-height: normal;
        color: #41525d;
    }
    #text-untitled {
        margin: 80px auto;
        @media only screen and (max-width: 770px) {
            flex-direction: column;
        }
        a {
            color: #008069;
            text-decoration: none;
        }

        #text {
            align-self: center;
            width: 100%;
            ul {
                margin-bottom: 60px;
            }
        }
        #untitled {
            text-align: center;
            img {
                width: 100%;
                @media only screen and (max-width: 770px) {
                    width: 50%;
                    margin-top: 20px;
                }
            }
            #sing-in-inf {
                text-align: start;
                background-color: #009de2;
                color: white;
                padding: 10px 15px;
                border-radius: 6px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                margin-top: 5px;
                font-size: 12px;
                margin-left: 50px;
                width: 80%;
            }
        }
        li {
            list-style-type: decimal;
            margin: 25px;
            color: #41525d;
            font-size: 18px;
        }
    }

    #video-rol {
        position: relative;
        width: 100%;
        background-color: #f9f9fa;
        i {
            position: absolute;
            top: 40%;
            left: 45%;
            right: 45%;
            opacity: 0.6;
            cursor: pointer;
        }
        img,
        video {
            width: 65%;
            margin: 70px auto;
        }
    }
}

// -------------------download page-------------
#download-page {
    #nav {
        @media only screen and (max-width: 770px) {
            display: none;
        }
    }
}
.nav-bars-dowenload {
    display: none;
    padding: 15px;
    color: white;
    position: sticky;
    top: 0;
    div {
        align-items: center;
    }
    img {
        margin-right: 15px;
    }
    @media only screen and (max-width: 770px) {
        display: flex;
        justify-content: space-between;
    }
}
.main-download-page {
    width: 95%;
    margin: auto;
    justify-content: space-between;
    @media only screen and (max-width: 770px) {
        width: 100%;
    }

    #main-inf {
        @media only screen and (max-width: 770px) {
            flex-direction: column;
        }
    }
    h2 {
        text-align: center;
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 10px;
        line-height: calc(1.5 * 28px);
        padding-bottom: 50px;
    }
    button {
        background-color: #128c7e;
        cursor: pointer;
        color: white;
        border-radius: 25px;
        border: 1px solid #128c7e;
        font-size: 16px;
        padding: 15px;
        box-shadow: rgba(69, 69, 75, 0.2) 0px 7px 29px 0px;
        margin: auto;
    }
    a {
        color: #39b3ed;
        cursor: pointer;
        text-decoration: none;
    }
    p {
        width: 80%;
        color: #5e5e5e;
        margin: auto;
        text-align: center;
        a:hover {
            text-decoration: underline;
        }
    }

    #tel,
    #pc-and-mac {
        width: 49%;
        padding-top: 100px;
        padding-bottom: 90px;
        @media only screen and (max-width: 770px) {
            width: 100%;
        }
    }

    #tel {
        background-color: #e7f0e4;

        h3 {
            text-align: center;
            margin: auto;
            width: 70%;
            font-size: 24px;
            line-height: 34px;
            font-weight: 300;
            margin-bottom: 25px;
        }

        #android-iphone {
            justify-content: space-around;
            @media only screen and (max-width: 770px) {
                flex-direction: column;
            }
            img {
                width: 90%;
                margin: auto;
                object-fit: cover;
                @media only screen and (max-width: 770px) {
                    width: 50%;
                }
            }
            #android,
            #iphone {
                flex-direction: column;
            }
            button {
                width: 110px;
                margin-top: 25px;
                margin-bottom: 100px;
            }
        }
    }
    #pc-and-mac {
        background-color: #fcf2c6;

        p {
            margin-top: 15px;
        }
        a {
            margin: 12px auto;
        }

        img {
            width: 20%;
            margin: 25px auto 40px;
        }
        #for-download {
            flex-direction: column;
            button {
                width: 250px;
                margin-top: 75px;
            }
        }

        #pk {
            img {
                width: 58%;
                margin: auto;
            }
        }
    }
}
